<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/web_template/easy-ui/static/css/easyui.css">
    <link rel="stylesheet" type="text/css" href="/web_template/easy-ui/static/css/icon.css">
    <link rel="stylesheet" type="text/css" href="/web_template/easy-ui/static/css/demo.css">
    <script type="text/javascript" src="/web_template/easy-ui/static/js/jquery-1.7.0.js"></script>
    <script type="text/javascript" src="/web_template/easy-ui/static/js/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/web_template/easy-ui/static/js/jquery.edatagrid.js"></script>
</head>

</html>